nav {
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 5rem;
    border-radius: 3rem;
    background: linear-gradient(135deg, rgba(33, 150, 243, 0.1), rgba(255, 87, 51, 0.2));
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary);
    font-size: medium;
}

nav a.active {
    background: rgba(194, 189, 189, 0.3);
    color: var(--color-white);
}